// Design system colors mapped to Quasar variables
$primary: #1e104e;
$secondary: #fd643e;
$accent: #28113c;

$dark: #271900;
$dark-page: #1a1000;

$positive: #21ba45;
$negative: #ba1a1a;
$info: #31ccec;
$warning: #f2c037;
